body {

    margin: 0;
    padding-top: 70px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #222;
    background: #fff;

}

img {

    max-width: 100%;
    display: block;

}

.section {

    padding: 80px 20px;
    max-width: 1100px;
    margin: auto;

}

h1,
h2,
h3 {

    font-weight: 500;

}

.fade-in {

    opacity: 0;
    transform: translateY(12px);

    transition:
        opacity 1.2s ease-out,
        transform 1.2s ease-out;

    will-change: opacity, transform;

}

.fade-in.visible {

    opacity: 1;
    transform: translateY(0);

}